<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .container {
            background-color: #ffffff;
            border-radius: 8px;
            padding: 20px;
            margin-top: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 250px;
        }
    </style>
    <title>GetById</title>
</head>
<body>
<h1 th:text="'Product có id '+${product.id} +' có thông tin '"></h1>
<table border="1">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>description </th>
        <th>thumbnail</th>
        <th>price</th>
        <th>rating</th>
        <th>priceDiscount</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${product.id}">1</td>
        <td th:text="${product.name}">An</td>
        <td th:text="${product.description}">It</td>
        <td th:text="${product.thumbnail}">male</td>
        <td th:text="${product.price}">hanoi</td>
        <td th:text="${product.rating}">2000</td>
        <td th:text="${product.priceDiscount}">2000/09/11</td>
    </tr>
    </tbody>
</table>

<div class="container" >
    <p th:text="${product.id}">

    </p>

    <div class="text-center" style="align-items : center">
        <img th:src="${product.thumbnail}" style="max-width: 200px; max-height: 200px"/>
    </div>
    <h3 class="text-center" th:text="${product.name}"></h3>
    <div class="text-center">

        <span  th:text="'$'+${product.price}"></span>
        <del th:text="'$'+${product.priceDiscount}"></del>
    </div>
    <div class="text-center" >
        <span  th:text="${product.rating}"></span>
        <span> <i class="fa fa-star" style="color: #F5D224"></i> </span>
    </div>
</div>

</body>
</html>
